In [1]:
import pandas as pd
import re

In [2]:

# Load the combined DataFrame (replace with your actual loading code)
combined_df = pd.read_csv('combined_row_5944.csv')  
# Load the processed labels data
processed_labels_df = pd.read_csv('processed_labels.csv')

In [3]:
combined_df.head()

,0,1,2,3,4,5,6,7,8,9,...,39352,39353,39354,39355,39356,39357,39358,39359,Year,Source_Filename
0,12.558845,15.408927,19.184211,25.615265,583.991047,103.435245,2.932178,4.486208,20.207450,4.143607,...,0,0,0,0,0,0,0,0,1990,20231117_120secMother_AllCountries_002_TQ-Resu...
1,12.664911,15.741938,19.312677,25.824043,659.761912,104.511217,2.959557,4.520212,20.345481,4.170963,...,0,0,0,0,0,0,0,0,1991,20231117_120secMother_AllCountries_002_TQ-Resu...
2,12.042855,15.355904,17.080123,22.059054,737.353835,95.493478,2.460524,3.999874,18.233502,3.540732,...,0,0,0,0,0,0,0,0,1992,20231117_120secMother_AllCountries_002_TQ-Resu...
3,10.718640,13.778629,16.017382,21.323048,616.339976,86.681886,2.434371,3.821939,17.484985,3.440143,...,0,0,0,0,0,0,0,0,1993,20231117_120secMother_AllCountries_002_TQ-Resu...
4,10.984828,13.915244,16.306085,21.706159,614.831606,87.056766,2.472436,3.944999,17.727765,3.523944,...,0,0,0,0,0,0,0,0,1994,20231117_120secMother_AllCountries_002_TQ-Resu...

### Pull Sequential_regionSector_labels into the column name

In [4]:
# Verify the column counts
num_combined_columns = combined_df.shape[1] - 2  # Exclude the last two columns 'Year' and 'Source_filename'
num_labels_columns = processed_labels_df.shape[0]

print(f"Number of data columns to rename in combined_df: {num_combined_columns}")
print(f"Number of label entries in processed_labels_df: {num_labels_columns}")

# Ensure the number of columns to rename matches the number of labels
if num_combined_columns != num_labels_columns:
    raise ValueError("Number of columns in combined_df does not match the number of labels in processed_labels_df.")

# Create a mapping dictionary from Sequential_regionSector_labels to existing columns in combined_df
column_mapping = {old: new for old, new in zip(combined_df.columns[:num_labels_columns], processed_labels_df['Sequential_regionSector_labels'])}

# Rename the columns in combined_df
combined_df.rename(columns=column_mapping, inplace=True)

# Ensure the last two columns are 'Year' and 'Source_filename'
combined_df = combined_df[list(processed_labels_df['Sequential_regionSector_labels']) + ['Year', 'Source_Filename']]

Number of data columns to rename in combined_df: 39360
Number of label entries in processed_labels_df: 39360

In [5]:
combined_df.head()

,Rest of Americas (XAM) Growing wheat industry,Rest of Americas (XAM) Growing maize industry,Rest of Americas (XAM) Growing cereals n.e.c industry,Rest of Americas (XAM) Growing leguminous crops and oil seeds industry,Rest of Americas (XAM) Growing rice industry,"Rest of Americas (XAM) Growing vegetables, roots, tubers industry",Rest of Americas (XAM) Growing sugar beet and cane industry,Rest of Americas (XAM) Growing tobacco industry,Rest of Americas (XAM) Growing fibre crops industry,Rest of Americas (XAM) Growing crops n.e.c. industry,...,Zimbabwe (ZWE) Property and real estate product,"Zimbabwe (ZWE) Professional, scientific and technical services product",Zimbabwe (ZWE) Administrative services product,Zimbabwe (ZWE) Government; social security; defence; public order product,Zimbabwe (ZWE) Education product,Zimbabwe (ZWE) Human health and social work activities product,"Zimbabwe (ZWE) Arts, entertainment and recreation product",Zimbabwe (ZWE) Other services product,Year,Source_Filename
0,12.558845,15.408927,19.184211,25.615265,583.991047,103.435245,2.932178,4.486208,20.207450,4.143607,...,0,0,0,0,0,0,0,0,1990,20231117_120secMother_AllCountries_002_TQ-Resu...
1,12.664911,15.741938,19.312677,25.824043,659.761912,104.511217,2.959557,4.520212,20.345481,4.170963,...,0,0,0,0,0,0,0,0,1991,20231117_120secMother_AllCountries_002_TQ-Resu...
2,12.042855,15.355904,17.080123,22.059054,737.353835,95.493478,2.460524,3.999874,18.233502,3.540732,...,0,0,0,0,0,0,0,0,1992,20231117_120secMother_AllCountries_002_TQ-Resu...
3,10.718640,13.778629,16.017382,21.323048,616.339976,86.681886,2.434371,3.821939,17.484985,3.440143,...,0,0,0,0,0,0,0,0,1993,20231117_120secMother_AllCountries_002_TQ-Resu...
4,10.984828,13.915244,16.306085,21.706159,614.831606,87.056766,2.472436,3.944999,17.727765,3.523944,...,0,0,0,0,0,0,0,0,1994,20231117_120secMother_AllCountries_002_TQ-Resu...

In [8]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Columns: 39362 entries, Rest of Americas (XAM) Growing wheat industry to Source_Filename
dtypes: float64(18796), int64(20565), object(1)
memory usage: 11.7+ MB

In [9]:
# Check for missing values in the DataFrame
missing_values = combined_df.isnull().sum()

# Print a message indicating if there are missing values
if missing_values.sum() > 0:
    print("\nMissing Values Found:")
    print(missing_values[missing_values > 0])
else:
    print("\nNo Missing Values Found.")

No Missing Values Found.

In [6]:

# Optionally save the final DataFrame to a file
combined_df.to_csv('df_with_header.csv', index=False)

### Melt the Data:

In [25]:
import pandas as pd
import re

# Function to parse the 'country_industry' column
def parse_labels(label):
    # Find the last set of parentheses for the country code
    match = re.search(r'\((\w{3})\)', label)
    
    if match:
        # Extract the country code
        country_code = match.group(1).strip()
        
        # Remove the country code part and trim the remaining string
        label_without_code = label[:match.start()].strip()
        industry_part = label[match.end():].strip()
        
        # Extract the country as everything before the last set of parentheses
        last_open_bracket_index = label_without_code.rfind('(')
        if last_open_bracket_index != -1:
            country = label_without_code[:last_open_bracket_index].strip()
        else:
            country = label_without_code.strip()
        
        # The remaining part after the country code is the industry
        industry = industry_part.strip()
        
        return pd.Series([country, country_code, industry], index=['Country', 'Country_Code', 'Industry'])
    else:
        # Handle cases where no country code is found
        return pd.Series([label, None, None], index=['Country', 'Country_Code', 'Industry'])

# Load your data
data = pd.read_csv('df_with_header.csv')

# Identify columns
id_vars = ['Year', 'Source_Filename']
value_vars = data.columns.difference(id_vars)

# Melt the data
long_data = pd.melt(data, id_vars=id_vars, value_vars=value_vars, 
                    var_name='country_industry', value_name='emissions')

# Apply the parse_labels function to split 'country_industry' into 'Country', 'Country_Code', and 'Industry'
parsed_labels = long_data['country_industry'].apply(parse_labels)
long_data = long_data.join(parsed_labels)

# Drop the 'country_industry' column
long_data = long_data.drop(columns=['country_industry'])

# Get distinct values for 'Country', 'Country_Code', and 'Industry'
distinct_countries = long_data['Country'].unique()
distinct_country_codes = long_data['Country_Code'].unique()
distinct_industries = long_data['Industry'].unique()

# Convert to DataFrame for better display
distinct_countries_df = pd.DataFrame(distinct_countries, columns=['Country'])
distinct_country_codes_df = pd.DataFrame(distinct_country_codes, columns=['Country_Code'])
distinct_industries_df = pd.DataFrame(distinct_industries, columns=['Industry'])

# Display the distinct values
print("Distinct Countries:")
print(distinct_countries_df)
print("\nDistinct Country Codes:")
print(distinct_country_codes_df)
print("\nDistinct Industries:")
print(distinct_industries_df)

Distinct Countries:
                       Country
0                  Afghanistan
1                      Albania
2                      Algeria
3                       Angola
4                    Argentina
..                         ...
159                   Viet Nam
160  Yemen Arab Republic/Yemen
161          Yugoslavia/Serbia
162                     Zambia
163                   Zimbabwe

[164 rows x 1 columns]

Distinct Country Codes:
    Country_Code
0            AFG
1            ALB
2            DZA
3            AGO
4            ARG
..           ...
159          VNM
160          YEM
161          SRB
162          ZMB
163          ZWE

[164 rows x 1 columns]

Distinct Industries:
                                              Industry
0                     Administrative services industry
1                      Administrative services product
2                               Air transport industry
3                                Air transport product
4              Alcoholic and other  beverages industry
..                                                 ...
235  Water collection, treatment and supply; sewera...
236                           Water transport industry
237                            Water transport product
238  Wholesale and retail trade; repair of motor ve...
239  Wholesale and retail trade; repair of motor ve...

[240 rows x 1 columns]

In [26]:
long_data

,Year,Source_Filename,emissions,Country,Country_Code,Industry
0,1990,20231117_120secMother_AllCountries_002_TQ-Resu...,0.045548,Afghanistan,AFG,Administrative services industry
1,1991,20231117_120secMother_AllCountries_002_TQ-Resu...,0.037865,Afghanistan,AFG,Administrative services industry
2,1992,20231117_120secMother_AllCountries_002_TQ-Resu...,0.027159,Afghanistan,AFG,Administrative services industry
3,1993,20231117_120secMother_AllCountries_002_TQ-Resu...,0.027726,Afghanistan,AFG,Administrative services industry
4,1994,20231117_120secMother_AllCountries_002_TQ-Resu...,0.027586,Afghanistan,AFG,Administrative services industry
...,...,...,...,...,...,...
1535035,2024,20231117_120secMother_AllCountries_002_TQ-Resu...,0.000000,Zimbabwe,ZWE,Wholesale and retail trade; repair of motor ve...
1535036,2025,20231117_120secMother_AllCountries_002_TQ-Resu...,0.000000,Zimbabwe,ZWE,Wholesale and retail trade; repair of motor ve...
1535037,2026,20231117_120secMother_AllCountries_002_TQ-Resu...,0.000000,Zimbabwe,ZWE,Wholesale and retail trade; repair of motor ve...
1535038,2027,20231117_120secMother_AllCountries_002_TQ-Resu...,0.000000,Zimbabwe,ZWE,Wholesale and retail trade; repair of motor ve...
1535039,2028,20231117_120secMother_AllCountries_002_TQ-Resu...,0.000000,Zimbabwe,ZWE,Wholesale and retail trade; repair of motor ve...

In [29]:

# Get distinct values for 'Country', 'Country_Code', and 'Industry'
distinct_year = long_data['Year'].unique()
distinct_file = long_data['Source_Filename'].unique()

# Convert to DataFrame for better display
distinct_year_df = pd.DataFrame(distinct_year, columns=['Year'])
distinct_file_df = pd.DataFrame(distinct_file, columns=['Source_Filename'])

# Display the distinct values
print("Distinct Year:")
print(distinct_year_df)
print("\nDistinct File:")
print(distinct_file_df)

Distinct Year:
    Year
0   1990
1   1991
2   1992
3   1993
4   1994
5   1995
6   1996
7   1997
8   1998
9   1999
10  2000
11  2001
12  2002
13  2003
14  2004
15  2005
16  2006
17  2007
18  2008
19  2009
20  2010
21  2011
22  2012
23  2013
24  2014
25  2015
26  2016
27  2017
28  2018
29  2019
30  2020
31  2021
32  2022
33  2023
34  2024
35  2025
36  2026
37  2027
38  2028

Distinct File:
                                      Source_Filename
0   20231117_120secMother_AllCountries_002_TQ-Resu...
1   20231117_120secMother_AllCountries_002_TQ-Resu...
2   20231117_120secMother_AllCountries_002_TQ-Resu...
3   20231117_120secMother_AllCountries_002_TQ-Resu...
4   20231117_120secMother_AllCountries_002_TQ-Resu...
5   20231117_120secMother_AllCountries_002_TQ-Resu...
6   20231117_120secMother_AllCountries_002_TQ-Resu...
7   20231117_120secMother_AllCountries_002_TQ-Resu...
8   20231117_120secMother_AllCountries_002_TQ-Resu...
9   20231117_120secMother_AllCountries_002_TQ-Resu...
10  20231117_120secMother_AllCountries_002_TQ-Resu...
11  20231117_120secMother_AllCountries_002_TQ-Resu...
12  20231117_120secMother_AllCountries_002_TQ-Resu...
13  20231117_120secMother_AllCountries_002_TQ-Resu...
14  20231117_120secMother_AllCountries_002_TQ-Resu...
15  20231117_120secMother_AllCountries_002_TQ-Resu...
16  20231117_120secMother_AllCountries_002_TQ-Resu...
17  20231117_120secMother_AllCountries_002_TQ-Resu...
18  20231117_120secMother_AllCountries_002_TQ-Resu...
19  20231117_120secMother_AllCountries_002_TQ-Resu...
20  20231117_120secMother_AllCountries_002_TQ-Resu...
21  20231117_120secMother_AllCountries_002_TQ-Resu...
22  20231117_120secMother_AllCountries_002_TQ-Resu...
23  20231117_120secMother_AllCountries_002_TQ-Resu...
24  20231117_120secMother_AllCountries_002_TQ-Resu...
25  20231117_120secMother_AllCountries_002_TQ-Resu...
26  20231117_120secMother_AllCountries_002_TQ-Resu...
27  20231117_120secMother_AllCountries_002_TQ-Resu...
28  20231117_120secMother_AllCountries_002_TQ-Resu...
29  20231117_120secMother_AllCountries_002_TQ-Resu...
30  20231117_120secMother_AllCountries_002_TQ-Resu...
31  20231117_120secMother_AllCountries_002_TQ-Resu...
32  20231117_120secMother_AllCountries_002_TQ-Resu...
33  20231117_120secMother_AllCountries_002_TQ-Resu...
34  20231117_120secMother_AllCountries_002_TQ-Resu...
35  20231117_120secMother_AllCountries_002_TQ-Resu...
36  20231117_120secMother_AllCountries_002_TQ-Resu...
37  20231117_120secMother_AllCountries_002_TQ-Resu...
38  20231117_120secMother_AllCountries_002_TQ-Resu...

In [27]:
# Save to a new CSV file if needed
long_data.to_csv('reshaped_data.csv', index=False)